.container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  font-family: "Raleway", sans-serif;
  background-color: rgba(255, 255, 255, 0.945);
  height: 520px;
  position: relative;
}

.input {
  width: 70%;
  height: 40px;
}

.button {
  height: 45px;
  width: 100px;
  background-color: rgb(226, 209, 57);
  border: SOLID 2.4px rgb(3, 17, 29);
  cursor: pointer;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.list {
  list-style-type: none;
  font-size: 13px;
}

.element_name {
  font-weight: bold;
}
